@mixin hover($_property, $_toValue) {
  transition: #{$_property} $hover-effect-duration;
  &:hover {
    #{$_property}: $_toValue;
  }
}

@mixin on-mobile {
  @media (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {
    @content;
  }
}

@mixin on-tablet {
  @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    @content;
  }
}

@mixin on-small-desktop {
  @media (min-width: $small-desktop-min-width) and (max-width: $small-desktop-max-width) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: $desktop-min-width) and (max-width: $desktop-max-width) {
    @content;
  }
}

@mixin on-large-screens {
  @media (min-width: $large-screens-min-width) {
    @content;
  }
}

@mixin header-padding-inline() {
  padding-inline: $padding-inline-on-desktop;

  @include on-mobile {
    padding-inline: $padding-inline-on-mobile;
  }

  @include on-tablet {
    padding-inline: $padding-inline-on-tablet;
  }

  @include on-small-desktop {
    padding-inline: $padding-inline-on-small-desktop;
  }

  @include on-large-screens {
    max-width: $large-screens-min-width;
    margin-inline: auto;
  }
}

@mixin slider-position {
  margin-right: 120px;

  @include on-mobile {
    margin-right: 20px;
  }

  @include on-tablet {
    margin-right: 40px;
  }

  @include on-small-desktop {
    margin-right: 80px;
  }
}

@mixin header-padding-top() {
  padding-top: 48px;

  @include on-mobile {
    padding-top: 20px;
  }

  @include on-tablet {
    padding-top: 20px;
  }

  @include on-small-desktop {
    padding-top: 48px;
  }

  @include on-large-screens {
    padding-top: 48px;
  }
}

@mixin title() {
  font-family: $font-family-h-nav-btn; // Poppins
  font-weight: $font-weight-h; // 600;
  color: $color-text-main-h; // #253757;
}

@mixin footer-title() {
  font-family: $font-family-h-nav-btn; // Poppins
  font-weight: $font-weight-h; // 600;
  line-height: $line-height-body; // 150%;
  color: $color-text-hdr-nav-ftr; // #fff;

  &:active {
    color: #fff;
  }
}

@mixin navtitle() {
  font-family: $font-family-h-nav-btn; // Poppins
  font-weight: $font-weight-nav-btn; // 700
  font-size: $font-size-nav-title; // 13px;
  text-transform: $text-transform-nav; // uppercase;
  letter-spacing: $letter-spacing-nav-title; // 3px;
}

@mixin subtitle() {
  font-family: $font-family-p; // Open Sans
  font-weight: $font-weight-p; // 400;
  color: $color-text-main-p; // #6C788B;
  line-height: $line-height-body; // 150%;
}

@mixin description() {
  font-family: $font-family-p; // Open Sans
  font-weight: $font-weight-p; // 400
  color: $color-text-main-p; // #6C788B;
  font-size: 14px;
}

@mixin description-block-quotes() {
  font-family: $font-family-p; // Open Sans
  font-weight: $font-weight-h; // 600
  line-height: $line-height-body; // 150%
}

@mixin arrow-text() {
  font-family: $font-family-h-nav-btn; // Poppins
  font-weight: $font-weight-h; // 600;
  color: #334563;
  font-size: $font-size-btn; // 15px;
  line-height: 100%;
}

@mixin button {
  background-color: $bc-body-second-color;
  color: $bc-hero-color;
  font-size: $font-size-btn; // 15px;
  line-height: 100%;
  border: 1px solid $bc-hero-color;
  border-radius: $border-radius-btn;
  font-family: $font-family-h-nav-btn; // Poppins
  font-weight: $font-weight-h; // 600;
  cursor: pointer;

  &:hover {
    color: $color-text-hdr-nav-ftr;
    background-color: $bc-color-btn-hoover;
    border: none;
  }
}
