$large-screens-min-width: 2560px;
$desktop-max-width: 1559.98px;
$desktop-min-width: 1280px;
$small-desktop-max-width: 1279.98px;
$small-desktop-min-width: 1024px;
$tablet-max-width: 1023.98px;
$tablet-min-width: 640px;
$mobile-max-width: 639.98px;
$mobile-min-width: 320px;
$bc-body-main-color: #eee;
$bc-body-second-color: #fff;
$bc-button-arrow-color: #fff;
$bc-block-box-color: #fff;
$bc-hero-color: #2c2c2c;
$font-family-h-nav-btn: Poppins, sans-serif;
$font-family-p: 'Open Sans', sans-serif;
$font-style-body: normal;
$font-weight-h: 600;
$font-weight-p: 400;
$font-weight-nav-btn: 700;
$font-size-p: 13px;
$font-size-nav-title: 13px;
$letter-spacing-nav-title: 3px;
$text-transform-nav: uppercase;
$border-radius-hero: 30px;
$border-radius-btn: 8px;
$border-radius-block-box: 16px;
$bc-color-btn: #2060f6; // hoover
$color-text-hdr-nav-ftr: #fff; // +footer
$color-text-main-h: #253757;
$color-text-main-p: #6c788b;
$color-text-navtitle: #c0cdd7;
$font-size-btn: 15px;
$line-height-body: 150%;
$hover-effect-duration: 0.3s;
$scale-nav-logo: 1.15;
