.contact-us {
  &__label {
    color: rgba(255, 255, 255, 0.5);
    margin-top: 48px;
    margin-bottom: 8px;
    line-height: 100%;

    @include navtitle;

    @include on-mobile {
      margin-top: 40px;
    }

    &:first-of-type {
      margin-top: 56px;

      @include on-mobile {
        margin-top: 48px;
      }
    }
  }

  &__value {
    @include description-block-quotes;

    font-size: 24px;
    text-decoration: none;
    color: #fff;
    text-wrap: nowrap;

    @include on-mobile {
      text-wrap: wrap;
    }
  }

  &__our-social {
    display: flex;
    gap: 32px;
    margin-top: 16px;

    &-icon {
      height: 32px;
      width: 32px;
      cursor: pointer;

      &:hover {
        filter: invert(50%) sepia(100%) saturate(4500%) hue-rotate(200deg)
          brightness(100%) contrast(100%);
      }
    }
  }
}
