.main__cta {
  background-color: $bc-body-second-color;

  &-block {
    padding: 198px 423px 170px;
    text-align: center;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    max-width: $large-screens-min-width;
    width: 100%;

    @include on-mobile {
      padding: 72px 20px;
    }

    @include on-tablet {
      padding: 200px 41px;
    }

    @include on-small-desktop {
      padding: 198px 135px;
    }

    &::after {
      content: '';
      position: absolute;
      inset: 0;
      background-image: url(/src/images/cta/shapes.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: right center;
      pointer-events: none;
      overflow: hidden;
      max-width: $large-screens-min-width;
      z-index: -1;

      @include on-mobile {
        display: none;
      }

      @include on-tablet {
        // max-width: 640px;
        transform:
        // scale(1.35)
          translateX(-5%) translateY(-2%);
      }
    }

    &-title {
      @include title;

      font-size: 52px;
      line-height: 150%;
      text-wrap: nowrap;
      margin: auto;

      @include on-mobile {
        font-size: 44px;
        line-height: 120%;
        white-space: normal;
      }

      @include on-tablet {
        font-size: 52px;
        line-height: 120%;
        white-space: normal;
      }
    }

    &-description {
      @include description-block-quotes;

      margin-top: 24px;
      font-size: 24px;
      color: $color-text-main-p;

      @include on-mobile {
        font-size: 22px;
      }
    }

    &-button {
      height: 56px;
      width: 264px;
      margin-top: 64px;

      @include button;

      @include on-mobile {
        width: 100%;
        margin-top: 56px;
      }
    }
  }
}
