.footer {
  background-color: $bc-body-second-color;

  &__container {
    display: block;
    padding-top: 180px;
    padding-bottom: 80px;
    background-color: $bc-hero-color;
    border-radius: $border-radius-hero $border-radius-hero 0 0;
    justify-items: stretch;

    @include on-mobile {
      padding-top: 72px;
    }
  }

  &__send-us {
    @include on-tablet {
      width: 362px;
    }
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 226px;
    justify-items: stretch;

    @include header-padding-inline;

    @include on-mobile {
      grid-template-columns: repeat(1, 1fr);
      gap: 80px;
    }

    @include on-tablet {
      grid-template-columns: repeat(1, 1fr);
      gap: 120px;
    }

    @include on-small-desktop {
      grid-template-columns: repeat(2, 1fr);
      gap: 98px;
    }
  }

  &__title {
    @include footer-title;

    font-size: 32px;

    @include on-mobile {
      line-height: 130%;
      text-wrap: wrap;
    }
  }

  &__menu {
    margin-top: 120px;

    &-container {
      display: flex;
      align-items: start;
      justify-content: space-between;

      @include header-padding-inline;

      @include on-mobile {
        margin-top: 80px;
        flex-direction: column;
      }

      @include on-tablet {
        margin-top: 139px;
        flex-direction: column;
      }
    }
  }

  &__nav {
    @include on-mobile {
      margin-top: 48px;
    }

    &-list {
      display: flex;
      list-style: none;
      padding: 0;
      gap: 48px;

      @include on-mobile {
        flex-direction: column;
        gap: 24px;
      }

      @include on-tablet {
        margin-top: 24px;
        gap: 40px;
      }
    }

    &-link {
      position: relative;
      display: flex;
      align-items: center;
      white-space: nowrap;
      text-decoration: none;

      @include navtitle;

      color: $color-text-hdr-nav-ftr;
    }
  }
}
