.form {
  width: 100%;
  margin-top: 48px;
  border: none;
  border-bottom: 1px solid #fff;
  height: 41px;
  background-color: $bc-hero-color;
  font-size: 15px;

  @include footer-title;

  &:hover {
    border-bottom: 1px solid $bc-color-btn;
  }

  &:focus-visible {
    outline: none;
    border-color: $bc-color-btn;
    color: #fff;
  }

  @include on-mobile {
    margin-top: 40px;
  }

  &:first-of-type {
    margin-top: 56px;

    @include on-mobile {
      margin-top: 48px;
    }
  }
}

.footer__send-us-button {
  height: 56px;
  width: 264px;
  margin-top: 80px;

  @include button;

  @include on-mobile {
    margin-top: 56px;
  }
}
