.header {
  display: block;
  background-color: $bc-hero-color;
  border-radius: 0 0 $border-radius-hero $border-radius-hero;

  &__inner {
    position: relative;
    margin: 0 auto;
    max-width: $desktop-min-width;

    @include header-padding-inline;

    @include on-small-desktop {
      max-width: $small-desktop-min-width;
    }

    @include on-large-screens {
      max-width: $large-screens-min-width;
    }
  }

  &__button {
    position: relative;
    display: flex;
    align-items: center;
    color: $color-text-hdr-nav-ftr;
    text-decoration: none;
    text-transform: $text-transform-nav;
    white-space: nowrap;
    font-family: $font-family-h-nav-btn;
    font-weight: $font-weight-nav-btn;
    font-size: $font-size-p;
    letter-spacing: $letter-spacing-nav-title;

    @include hover(transform, scale($scale-nav-logo));

    &::after {
      content: '';
      position: absolute;
      height: 2px;
      width: 100%;
      background-color: $bc-color-btn-hoover;
      border-radius: 4px;
      display: block;
      bottom: -8px;
      left: 0;
      right: 0;
    }
  }
}
