.hero__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 196px;
  justify-items: stretch;
  color: $color-text-hdr-nav-ftr;
  font-weight: $font-weight-h;
  margin-top: 38px;

  @include on-mobile {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 48px;
  }

  @include on-tablet {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 0;
  }

  @include on-small-desktop {
    grid-template-rows: repeat(1, 1fr);
  }

  &-container-01 {
    @include on-small-desktop {
      padding-right: 0;
    }

    @include on-large-screens {
      padding-right: 0;
    }
  }
  &-container-02 {
    position: relative;
  }

  &-title {
    font-size: 64px;
    line-height: 68px;
    letter-spacing: -2px;
    padding-top: 120px;
    font-family: $font-family-h-nav-btn;

    @include on-mobile {
      font-size: 52px;
      line-height: 120%;
      letter-spacing: -2px;
      padding-top: 0;
    }

    @include on-tablet {
      font-size: 64px;
      line-height: 68px;
      letter-spacing: -2px;
      padding-top: 0;
      br {
        display: none;
      }
    }
  }

  &-subtitle {
    font-weight: $font-weight-p;
    font-size: 18px;
    max-width: 362px;
    width: 100%;
    margin-top: 32px;

    @include on-tablet {
      margin-top: 24px;
    }
  }

  &-button {
    height: 50px;
    width: 264px;
    margin-top: 83px;
    margin-bottom: 205px;

    @include button;

    @include on-mobile {
      width: 100%;
      margin-top: 72px;
      margin-bottom: 0;
    }

    @include on-tablet {
      width: 264px;
      margin-top: 56px;
      margin-bottom: 147px;
    }
  }

  &-slider {
    display: flex;
    background-image: url(../images/slider/slide-img-01.jpg);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: $border-radius-hero 0 $border-radius-hero 0;
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
    overflow: hidden;

    @include on-mobile {
      min-height: 390px;
      border-radius: $border-radius-hero;
      position: static;
      width: 100%;
      transform: none; // +
    }

    @include on-tablet {
      min-height: 390px;
      border-radius: $border-radius-hero;
      position: static;
      width: 100%;
      transform: none; // +
    }

  }

  .hero__content-slider-bottom {
    display: flex;
    padding-bottom: 48px;
    padding-left: 48px;
    align-items: center;
    gap: 24px;
    position: absolute;
    bottom: 0;

    @include on-mobile {
      padding-left: 20px;
      display: block;
      padding-bottom: 24px;
      padding-inline: 20px;
    }
  }

  .hero__content-slider-bottom-button-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;

    @include on-mobile {
      justify-content: start;
      margin-bottom: 16px;
    }

    @include on-tablet {
      justify-content: start;
      margin-bottom: 16px;
    }
  }

  .button-arrow {
    display: flex;
    height: 32px;
    width: 32px;
    background-color: $bc-button-arrow-color;
    border-radius: 50%;
    border: none;
    cursor: pointer;

    position: relative;
    justify-content: center;
    align-items: center;
    z-index: 20;
  }

  .arrow {
    position: static;
    height: 18px;
    width: 18px;
  }

  .hero__content-slider-bottom-description {
    margin: 0;
  }

  .hero__content-slider-bottom-description--navtitle {
    @include navtitle;
  }

  .hero__content-slider-bottom-description--subtitle {
    font-weight: $font-weight-p;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0;
    margin: 0;
    margin-top: 8px;
  }
}
