.menu {
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 48px;
  }

  &__mb-tab {
    @include on-mobile {
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }

    @include on-tablet {
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__logo-image {
    display: inline-flex;
    max-height: 28px;
    align-items: center;
    justify-content: center;

    @include hover(transform, scale($scale-nav-logo));
  }

  &__icon {
    display: none;

    @include on-mobile {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      margin-left: 32px;
    }

    @include on-tablet {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      margin-left: 32px;
    }

    @include on-small-desktop {
      display: none;
    }
  }
}
