.nav {
  &__list {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 48px;
  }

  &__link {
    position: relative;
    display: flex;
    align-items: center;
    white-space: nowrap;
    text-decoration: none;
    color: $color-text-hdr-nav-ftr;

    @include navtitle;
    @include hover(transform, scale($scale-nav-logo));

    &:hover {
      border-bottom: 1px solid $bc-color-btn-hoover;
    }
  }

  @include on-mobile {
    display: none;
  }

  @include on-tablet {
    display: none;
  }
}
